apiVersion: v1
kind: Secret
metadata:
  name: datadog-secrets
type: Opaque
data:
  # echo -n 'some_value' | base64
  # echo -n 'abc' | base64 --decode
  # DD_SITE: datadoghq.com
  DD_SITE: ZGF0YWRvZ2hxLmNvbQ==
  DD_API_KEY: <your_api_key_encoded>