# Cache
__pycache__
*.pyc

# Local storage
data/**/*
data/*
!/data/test_data
!/**/.gitkeep

# API keys and secrets
.env
.env.*
!.env.example

# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Node dependencies
node_modules/
penv/

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresen

# Python venv
scriptenv

config.py