# API keys and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod

# Editors
.idea
.vscode
*.iml
modules.xml
*.ipr

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS metadata
.DS_Store
Thumbs.db
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresen

# Archive
archive
