apiVersion: v1
kind: Secret
metadata:
  name: datadog-secrets
type: Opaque
data:
  # echo -n 'some_value' | base64
  # echo -n 'abc' | base64 --decode
  api-key: <your_api_key_encoded>
  app-key: <your_app_key_encoded>